{% extends 'base.html' %}

{% block title %}My Profile{% endblock title %}

{%block body%}


<div class="container d-flex my-4 justify-content-center">
<div class="card" style="width: 18rem;">
  <img src="/static/shaurya.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><strong>Shaurya Yamdagni</strong></h5>
    <p class="card-text">Student at SRM University, NCR Campus, Ghaziabad</p>
    <p class="card-text">Contact: <strong>+91-9084223637</strong></p>
    <p class="card-text">Email: <strong>shauryayamdagni0@gmail.com</strong></p>

    <a class="card-text my-1" href="mailto:shauryayamdagni0@gmail.com">Send email</a> <br> 

    <a href="https://www.linkedin.com/in/shaurya-yamdagni" target="_blank" class="btn btn-primary my-1">Linked In</a>
    <a href="https://github.com/Shauryayamdagni" target="_blank" class="btn btn-primary my-1" >Github</a>
    <a href="https://www.hackerrank.com/shauryayamdagni0?hr_r=1" target="_blank" class="btn btn-primary my-1">Hackerrank</a>
  </div>
</div>

</div>

{% endblock body%}